// Component: Form
// ---------------

.form-control {
  border-color: $gray;
  border-radius: $input-radius;
  box-shadow: none;

  &:focus {
    border-color: $light-blue !important;
    box-shadow: none;
  }

  &::-moz-placeholder {
    color: #bbb;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: #bbb;
  }

  &::-webkit-input-placeholder {
    color: #bbb;
  }

  &:not(select) {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
}

.form-group {
  &.has-success {
    label {
      color: $green;
    }

    .form-control {
      border-color: $green !important;
      box-shadow: none;
    }
  }

  &.has-warning {
    label {
      color: $yellow;
    }

    .form-control {
      border-color: $yellow !important;
      box-shadow: none;
    }
  }

  &.has-error {
    label {
      color: $red;
    }

    .form-control {
      border-color: $red !important;
      box-shadow: none;
    }
  }
}

// Input group
.input-group {
  .input-group-addon {
    background-color: #fff;
    border-color: $gray;
    border-radius: $input-radius;
  }
}

// button groups
.btn-group-vertical {
  .btn {
    &.btn-flat:first-of-type,
    &.btn-flat:last-of-type {
      border-radius: 0;
    }
  }
}

.icheck > label {
  padding-left: 0;
}
