// Component: Sidebar
// ------------------

//Main Sidebar
// ``` .left-side has been deprecated as of 2.0.0 in favor of .main-sidebar ```

.main-sidebar {
  @include transition-transform($transition-speed $transition-fn);
  left: 0;
  min-height: 100%;
  padding-top: 50px;
  position: absolute;
  top: 0;
  width: $sidebar-width;
  z-index: 810;
  @media (max-width: $screen-xs-max) {
    @include translate(-$sidebar-width, 0);
  }

  .sidebar-collapse & {
    @media (min-width: $screen-sm) {
      @include translate(-$sidebar-width, 0);
    }
  }

  .sidebar-open & {
    @media (max-width: $screen-xs-max) {
      @include translate(0, 0);
    }
  }
}

.sidebar {
  padding-bottom: 10px;

  .fixed & {
    height: 100%;
    overflow: auto;
  }
}
// remove border from form
.sidebar-form {
  input:focus {
    border-color: transparent !important;
  }
}

//Sidebar user panel
.user-panel {
  @include clearfix();
  padding: 10px;

  > .image {
    float: left;
    width: 45px;

    > img {
      height: 45px;
      width: 45px;
    }
  }

  > .info {
    float: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding: 2px 5px 2px 15px;
    width: 165px;

    > p {
      margin-bottom: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }

    > a {
      font-size: 11px;
      font-weight: normal;
      margin-top: 3px;
      padding-right: 5px;
      text-decoration: none;

      > .fa,
      > .ion,
      > .glyphicon {
        margin-right: 3px;
      }
    }
  }
}

// Sidebar menu
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    margin: 0;
    padding: 0;
    position: relative;

    > a {
      display: block;
      padding: 12px 5px 12px 15px;

      > .fa,
      > .glyphicon,
      > .ion {
        width: 20px;
      }
    }

    .label,
    .badge {
      margin-right: 5px;
      margin-top: 3px;
    }
  }

  li.header {
    font-size: 12px;
    padding: 10px 25px 10px 15px;
  }

  li > a > .fa-angle-left {
    height: auto;
    margin-right: 10px;
    margin-top: 3px;
    padding: 0;
    width: auto;
  }

  li.active {
    > a > .fa-angle-left {
      @include rotate(-90deg);
    }

    > .treeview-menu {
      display: block;
    }
  }

  // Tree view menu
  .treeview-menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 5px;

    .treeview-menu {
      padding-left: 20px;
    }

    > li {
      margin: 0;

      > a {
        display: block;
        font-size: 14px;
        padding: 5px 5px 5px 15px;

        > .fa,
        > .glyphicon,
        > .ion {
          width: 20px;
        }

        > .fa-angle-left,
        > .fa-angle-down {
          width: auto;
        }
      }
    }
  }
}
